<h2>Usuarios</h2>
{{#each users}}
    <p>Nombre: {{this.first_name}}</p>
    <p>Apellido: {{this.last_name}}</p>
    <p>Email: {{this.email}}</p>
    <p>Edad: {{this.age}}</p>
    <p>Rol: {{this.rol}}</p>
{{/each}}