{{#if isValid}}
<div>
    {{#each docs}}
    <div>
        <p>{{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.status}} - {{this.stock}}- {{this.category}} </p>
        <button type="button" id="boton">Añadir al carrito</button>
    </div>
    <br/>
    {{/each}}
</div>
<br/>
<div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
           Anterior</a>
           {{/if}}
           &nbsp;
           {{this.page}}
           &nbsp;
           {{#if hasNextPage}}
           <a href={{this.nextLink}}> Siguiente </a>
           {{/if}}
</div>
{{else}}
<h1>No hay productos que mostrar</h1>
{{/if}}

<script>
    document.getElementById('boton').addEventListener('click', addProduct)

    function addProduct(){
        const product = {
        title: {{this.title}}.value,
        description: {{this.description}}.value,
        code: {{this.code}}.value,
        price: {{this.price}}.value,
        status: {{this.status}}.value,
        stock: {{this.stock}}.value,
        category: {{this.category}}.value
    }

    

    fetch('/carts/:cid/product/:pid',{
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(product),
    })
}
</script>